.profile-page {
  background: #272727;
  color: #fff;
  min-height: 100vh;
  padding: 140px 40px 40px 40px;
  position: relative;

  &__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  &__phone {
    font-size: 20px;
    margin-bottom: 24px;
    display: block;
  }

  &__form {
    max-width: 500px;
    margin-bottom: 40px;

    .ant-form-item-label > label {
      color: #fff;
    }

    .ant-input,
    .ant-input-textarea {
      background: #1f1f1f;
      border: 1px solid #ca9569;
      color: #fff;
    }

    .ant-btn-primary {
      background: #ca9569;
      border-color: #ca9569;
    }
  }

  &__characters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__search {
    max-width: 50% !important;
    padding: 13px !important;
    margin-bottom: 60px;
  }

  &__add {
    position: absolute;
    top: 140px;
    right: 30px;
    border: 2px solid #ca9569;

    width: 40px;
    height: 40px;
  }
}

.ant-modal-close-x {
  color: #fff;
}

.loader__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-popconfirm .ant-popconfirm-message .ant-popconfirm-title {
  color: "#fff" !important;
}
