.card {
  max-width: 300px;
  background: #1f1f1f;
  border: 1px solid #ca9569;
  color: #fff;

  padding: 16px;
  border-radius: 12px;
  text-align: center;

  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }

  h3 {
    margin: 0 0 8px 0;
    font-size: 20px;
  }

  p {
    font-size: 14px;
    color: #fff;
    max-width: 100%;
    word-break: break-all;
  }
}
