.header {
  max-width: 100vw;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-inline: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #272727;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  &__logo {
    width: 150px;
    object-fit: cover;
  }

  &__nav a {
    margin-left: 24px;

    font-size: 18px;
    transition: 0.3s;

    color: #fff;

    &:hover {
      color: #adbad6;
    }
  }

  &__btns-container {
    display: flex;
    align-items: center;
    gap: 0 14px;
    margin-right: 50px;
  }

  &__exit {
    background-color: transparent;
    border: none;
  }
}
