.character-page {
  min-height: 100vh;
  background: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-top: 80px;

  &__card {
    background: #1f1f1f;
    border: 1px solid #ca9569;
    padding: 30px;
    border-radius: 14px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    color: #fff;
  }

  &__image {
    width: 100%;
    max-height: 360px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid #ca9569;
  }

  &__name {
    font-size: 32px;
    margin-bottom: 14px;
    color: #fff;
  }

  &__bio {
    font-size: 18px;
    line-height: 1.5;
    color: #ddd;
  }

  &__error {
    color: #fff;
    font-size: 26px;
  }
}
